[Network]
NetworkName=homeserver
Driver=bridge
Subnet=172.20.0.0/16
Gateway=172.20.0.1
IPv6=false
Internal=false

[Install]
WantedBy=default.target


